@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@media print {
    nav, footer, header, .no-print {
        display: none !important;
    }
    main {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}